@page "/wesela"
@inject WeddingOrg.Controllers.WeddingsController WeddingController
@inject WeddingOrg.Controllers.CameramenController CamermanController
@inject WeddingOrg.Controllers.RestaurantsController RestaurantController
@inject WeddingOrg.Controllers.PhotographersController PhotographerController

<PageTitle>Wesela</PageTitle>

<h1>Wesela</h1>

@if (Weddings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Filter..."
           @bind="Filter"
           @bind:event="oninput">
    </div>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Data umowy</th>
                <th>Data wesela</th>
                <th>Panna młoda</th>
                <th>Pan młody</th>
                <th>Fotograf</th>
                <th>Kamerzysta</th>
                <th>Restauracja</th>
            </tr>
        </thead>
        <tbody>  
            @foreach (var wedding in Weddings)
            {
                if (!IsVisible(wedding))
                continue;
                <tr>
                    <td>
                        @wedding.Id
                    </td>
                    <td>
                        @wedding.DateOfSigningTheContract
                    </td>
                    <td>

                        @wedding.DateOfTheWedding 
                    </td>
                    <td>
                        @wedding.Bride.Name, @wedding.Bride.PhoneNumber
                    </td>
                    <td>
                        @wedding.Groom.Name, @wedding.Groom.PhoneNumber
                    </td>
                    <td>                            
                        @wedding.Photographer.Facebook
                    </td>
                    <td>
                        @wedding.Cameraman.Facebook
                    </td>
                    <td>
                        @wedding.Restaurant.Facebook
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        Weddings = (await WeddingController.GetWeddings()).ToList();
        Cameramen = (await CamermanController.GetCameramen()).ToList();
        Photographers = (await PhotographerController.GetPhotographers()).ToList();
        Restaurants = (await RestaurantController.GetRestaurants()).ToList();
    }
    private List<WeddingOrg.Models.Wedding> Weddings = new();
    private List<WeddingOrg.Models.Cameraman> Cameramen = new();
    private List<WeddingOrg.Models.Photographer> Photographers = new();
    private List<WeddingOrg.Models.Restaurant> Restaurants = new();
    public string Filter { get; set; }
    public bool IsVisible(
        WeddingOrg.Models.Wedding wedding1)
    {
        if (string.IsNullOrEmpty(Filter))
            return true;
        if (wedding1.DateOfSigningTheContract.Contains(Filter, StringComparison.OrdinalIgnoreCase) )
    return true;
        //if (wedding1.Bride.PhoneNumber.Contains(Filter, StringComparison.OrdinalIgnoreCase))
        //    return true;
        //if (wedding1.Bride.Name.Contains(Filter, StringComparison.OrdinalIgnoreCase))
        //    return true;
        //if (wedding1.Groom.PhoneNumber.Contains(Filter, StringComparison.OrdinalIgnoreCase))
        //    return true;
        //if (wedding1.Groom.Name.Contains(Filter, StringComparison.OrdinalIgnoreCase))
        //    return true;
        //if (wedding1.DateOfSigningTheContract.Contains(Filter, StringComparison.OrdinalIgnoreCase))
        //    return true;
        //if (cameraman1.Facebook.Contains(Filter, StringComparison.OrdinalIgnoreCase))
        //    return true;
        //if (photographer1.Facebook.Contains(Filter, StringComparison.OrdinalIgnoreCase))
        //    return true;
        //if (restaurant1.Facebook.Contains(Filter, StringComparison.OrdinalIgnoreCase))
        //    return true;

        //if (wedding1.DateOfSigningTheContract.ToString().StartsWith(Filter) || forecast.TemperatureF.ToString().StartsWith(Filter))
        //    return true;

        return false;
    }
}
